a:link {
	color: gray;
}
a:visited {
	color: gray;
}
body {
	font-family: georgia;
    background-color: #700;
    color: white;
    margin: 25 auto;
    width: 700px;
    text-align: center;
    font-family: Georgia;
}
img {
    float : right;
    height : 50px;
	border: 1px solid #333;
}
li {
    background-color: #3E4A40;
    border: 1px solid gray;
    padding: .75em;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    margin-bottom: .5em;
}
div.title {
    font-weight: bold;
}
ul {
    text-align: left;
    list-style-type: none;
}
#locked {
    visibility: hidden;
}
